@model IEnumerable<Vidly.Models.Customer>

@{
	ViewBag.Title = "Customers";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<a class="btn btn-primary" href="/Customer/New/">Create New</a>

<table id="customers" class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>Customer</th>
			<th>Membership Type</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>

@section scripts
{
	<script>
		$(document).ready(function()
		{
			var table = $("#customers").DataTable(
			{
				ajax :
				{
					url     : "/api/customers",
					dataSrc : ""
				},
				columns :
				[
					{
						data   : "name",
						render : function(data, type, customer)
						{
							return "<a data-customer_id=" + customer.id + " href='/Customer/Edit/" + customer.id + "'>" + customer.name + "</a>";
						}
					},
					{
						data   : "membershipType.name"
					},
					{
						data   : "rentals",
						render : function(data)
						{
							var canDeleteCustomer = true;

							if (data.length > 0)
							{
								$.each(data, function()
								{
									if (canDeleteCustomer)
									{
										if (this.dateReturned == null)
										{
											canDeleteCustomer = false;
										}
									}
								});
							}

							return (canDeleteCustomer ? "<button class='btn-link js-delete'>Delete</button>" : "");
						}
					}
				]
			});

			$("#customers").on("click", ".js-delete", function()
			{
				var $this = $(this);
				var customerID = $this.closest("tr").find("a").data("customer_id");

				bootbox.confirm("Are you sure you want to delete this customer?", function(result)
				{
					if (result)
					{
						$.ajax(
						{
							url     : "/api/customers/" + customerID,
							method  : "DELETE",
							success : function(result)
							{
								if (result)
								{
									table.row($this.closest("tr")).remove().draw();
									toastr.success("Customer successfully deleted.");
								}
								else
								{
									toastr.error("Unable to delete the Customer - are there outstanding Rentals?");
								}
							}
						});
					}
				});
			});
		});
	</script>
}