body
{
	padding-top: 50px;
	padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content
{
	padding-left: 15px;
	padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt
{
	white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea
{
	max-width: 280px;
}

ul.navbar-nav
{
	flex-direction: row;
}

ul.navbar-nav li
{
	padding: 0px 15px;
}

.field-validation-error,
label.error,
p.error
{
	color: red;
}

.input-validation-error,
input.error,
p.error
{
	border: 2px solid red;
}

.modal-backdrop.fade.in
{
	opacity: 0.5;
}

.modal.fade.in
{
	opacity: 1;
}

.modal.fade.in .modal-dialog
{
	transform: none;
}

.dataTables_wrapper
{
	display: block;
}

.dataTables_wrapper div[class^="col-"]
{
	float: left;
}

.dataTables_wrapper label
{
	display: block;
}

.dataTables_wrapper#customers_wrapper #customers_filter label,
.dataTables_wrapper#movies_wrapper #movies_filter label
{
	text-align: right;
}

.dataTables_wrapper ul.pagination
{
	display: inline;
}

.dataTables_wrapper ul.pagination li.paginate_button
{
	display: inline-block;
}

.dataTables_wrapper ul.pagination li.paginate_button a
{
	display: inline-block;
	padding: 6px 12px;
	font-size: 12px;
	line-height: 18px;
	border-radius: 4px;
	color: #fff;
	background-color: #158CBA;
	border-style: solid;
	border-width: 0px 1px 4px 1px;
	border-color: #127ba3;
	transition: all 0.15s ease-in-out;
}

.dataTables_wrapper ul.pagination li.paginate_button:not(.disabled) a:hover
{
	background-color: #117298;
	border-color: #106a8c;
}

.dataTables_wrapper ul.pagination li.paginate_button.disabled a
{
	color: #333;
	background-color: #eee;
	border-color: #aaa;
	cursor: not-allowed;
}

form#newRental .movie-input-container,
form#newRental .submit-container
{
	display: none;
}